*{
    font-family: "Montserrat", sans-serif;
    margin : 0;
    background-color: #000;
    color: #fff;
    overflow: hidden;
}

.main{
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}

.sidebar{
    background-color: #000;
    width: 340px;
    border-radius: 1rem;
    margin-right: 0.5rem;
}

.main-content{
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
}

.music-player{
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
}

a{
    text-decoration: none;
    color: #fff;
}

.nav{
    background-color: #121212;
    
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
}

.nav-option{
    background-color: #121212;
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem ;
}

.nav-option:hover{
    opacity: 1;
}
    
.nav-option i{
    font-size: 1.25rem;
    background-color: #121212;
}

.nav-option a{
    font-size: 1rem;
    margin-left: 1rem;
    background-color: #121212;
}

.library{
    background-color: #121212;
    border-radius: 1rem;
    height: 100%; 
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
}

.options{
    background-color: #121212;
}

.lib-box{
    background-color: #121212;
}
.options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lib-options img{
    height: 1.25rem;
    width: 1.25rem;
    

}

.lib-box p{
    background-color: #232323;
}

.icons{
    font-size: 1.25rem;
   
    display: flex;
}

.icons i{
    opacity: 0.7;
    margin-right: 1rem;
    background-color: #121212;
    
}

.icons{
    background-color: #121212;

}
.icons i:hover{
    opacity: 1;
    cursor: pointer;
}

.box{
    height: 8rem;
    background-color: #232323;
    border-radius: 0.75rem;
    margin: 0.75rem 0 1.75rem 0;
    padding: 0.5rem 1rem;
}

.box-p1{
    font-size: 1rem;
    font-weight: 500;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    ;
}

.box-p2{
    font-size: 0.85rem;
    opacity: 0.9;
    margin-bottom: 1rem;
}

.badge{
    background-color: #fff;
    border: none;
    color: black;
    border-radius: 100px;
    padding: 0.25rem 1rem; 
    font-weight: 700;
    margin-top: 0.5rem;
    height: 2rem;
    width:fit-content;
}

.badge:hover{
    cursor: pointer;
    
}